.container {
    width: 100%;
    /* 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
}

.intro_fullcontainer {
    width: 100%;
    display: flex;
    justify-content: center;
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.intro_container {
    margin: 0 11px;
    padding: 0 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: calc(100% - 22px);
    max-width: 918px;
    box-sizing: border-box;
    transition: width 0.3s ease-in-out;
}

.intro {
    max-width: 918px;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 500;
    height: 71.2734px;
    letter-spacing: -0.18px;
    line-height: 23.76px;
    scroll-margin-top: 76px;
    -webkit-font-smoothing: antialiased;
    text-align: center;
    margin: 80px 229px;
    transition: margin 0.3s ease-in-out;
    word-break: break-word;
    overflow-wrap: break-word;
}

/* .SidebarOpen {
    margin-left: 250px;
    width: calc(100% - 250px);
} */

.SidebarOpen .intro {
    max-width: 730px;
    /* margin: 80px auto; */
    margin: 80px auto 80px 150px;
}

.SidebarOpen .intro_container {
    width: calc(100% - 272px);
}

@media (max-width: 1024px) {
    .intro {
        max-width: 600px;
        font-size: 17px;
        line-height: 22px;
    }

    .SidebarOpen .intro {
        max-width: 530px;
    }
}

@media (max-width: 768px) {
    .intro {
        max-width: 500px;
        font-size: 16px;
        line-height: 21px;
        margin: 60px auto;
    }

    .SidebarOpen .intro {
        max-width: 430px;
    }
}

@media (max-width: 480px) {
    .intro {
        max-width: 90%;
        font-size: 15px;
        line-height: 20px;
        margin: 40px auto;
    }

    .SidebarOpen .intro {
        max-width: 80%;
    }
}

.smalltext_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.smalltext {
    text-align: left;
    min-height: 363.602px;
    width: 600px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    margin-bottom: 40px;
    transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.smalltext_heading {
    font-size: 30px;
    height: 39.6016px;
    letter-spacing: -0.3px;
    line-height: 39.6px;
    width: 600px;
    max-width: 100%;
    margin-bottom: 21.25px;
    margin-top: 0px;
    font-weight: 500;
}

.smalltext_content {
    min-height: 76px;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: -0.17px;
    width: 610px;
    max-width: 100%;
    margin-bottom: 20px;
    word-wrap: break-word;
    word-break: break-word;
}

.SidebarOpen .smalltext_container {
    justify-content: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.SidebarOpen .smalltext {
    max-width: calc(100% - 250px);
    width: 530px;
    margin-left: 550px;
    transition: all 0.3s ease-in-out;
}

/* @media (max-width: 1024px) {
    .smalltext_heading {
        font-size: 28px; 
    }

    .smalltext_content {
        font-size: 15px;
    }
}

@media (max-width: 768px) {
    .smalltext_heading {
        font-size: 26px;
    }

    .smalltext_content {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .smalltext_heading {
        font-size: 22px;
    }

    .smalltext_content {
        font-size: 13px;
    }
} */


.Built_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease, width 0.3s ease;
    overflow-x: hidden;
}

/* .Built_container.SidebarOpen {
    transform: translateX(250px); 
    width: calc(100% - 250px); 
} */

.Built {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    gap: 25px;
    width: 100%;
    max-width: 1400px;
    justify-content: center;
    /* margin: 0;
    padding: 0; */
    /* margin-left: 40px; */
    /* margin: 0 auto; */
    margin-left: 40px;
    transition: max-width 0.3s ease;
}

/* .Built_container.SidebarOpen .Built {
    max-width: calc(1400px - 250px); 
} */

.Built_title {
    text-align: left;
    font-size: 22px;
    font-weight: 500;
    height: 27.7188px;
    letter-spacing: -0.22px;
    line-height: 27.72px;
    width: 100%;
    max-width: 160.82px;
    margin-bottom: 32px;
    margin-left: 80px;
}

.picture_container {
    display: flex;
    flex-direction: column;
    text-align: left;
    cursor: pointer;
    width: 100%;
    max-width: 326px;
    min-width: 144px;
    aspect-ratio: 1 / 1;
    justify-content: flex-start;
}

/* .picture_container.SidebarOpen {
    width: 283.5px;
} */

.picture {
    animation-duration: 0.3s;
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
    margin-bottom: 15px;
    vertical-align: middle;
    border-bottom-color: rgb(229, 231, 235);
    border-radius: 8px;
}

/* .picture img {
    width: 100%; 
    height: auto;
} */

.picture_caption {
    cursor: pointer;
    font-size: 22px;
    font-weight: 500;
    letter-spacing: -0.22px;
    line-height: 27.72px;
    width: 100%;
    max-width: 270px;
    word-wrap: break-word;
    text-align: left;
    margin-bottom: 15px;
    text-decoration: none;
}

.picture_caption:hover {
    color: black;
}

.picture_caption:visited {
    color: black;
}

.picture_story {
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 14px;
    letter-spacing: normal;
    line-height: 14px;
    width: 34.7344px;
    text-decoration: none;
}

.picture_story:hover {
    color: black;
}

.picture_story:visited {
    color: black;
}

.Buillt_container.SidebarOpen {
    transform: translateX(250px);
    width: calc(100% - 250px);
    transition: transform 0.5s ease, width 0.5s ease;
}

.Buillt_container.SidebarOpen .Built {
    max-width: calc(1550px - 250px);
    grid-template-columns: repeat(4, minmax(150px, 1fr));
    transition: max-width 0.5s ease, grid-template-columns 0.5s ease;
    justify-content: space-between;
    margin: 0 0 0 -30px;
}

.Buillt_container.SidebarOpen .Built_title {
    margin-left: 0;
    
    transition: margin-left 0.5s ease;
}

.Buillt_container.SidebarOpen .picture_caption {
    max-width: 300px;
    word-break: break-all;
    transition: max-width 0.3s ease;
    transition: max-width 0.5s ease;
}


/* 반응형 */
@media (max-width: 1200px) {
    .Built {
        grid-template-columns: repeat(4, minmax(180px, 1fr));
    }
}

@media (max-width: 900px) {
    .Built {
        grid-template-columns: repeat(4, minmax(150px, 1fr));
    }
}

@media (max-width: 768px) {
    .Built {
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }
}

@media (max-width: 500px) {
    .Built {
        grid-template-columns: repeat(1, minmax(200px, 1fr));
    }
}


.icon_container {
    width: 1203px;
    height: 58.87px;
}


.green {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% - 64px);
    max-width: 1410px;
    margin: 0px auto;
}

.green.sidebarOpen {
    transform: translateX(100px);
    width: calc(100% - 264px);
}

.green_img {
    height: auto;
    object-fit: contain;
    margin: 0px 32px 100px 32px;
    width: calc(10 / 12 * (100vw - 64px));
    max-width: 1146.66px;
    padding-left: calc(1 / 12 * (100vw - 64px));
    padding-right: calc(1 / 12 * (100vw - 64px));
}

.green.sidebarOpen .green_img {
    width: calc(10 / 12 * (100vw - 264px));
    padding-left: calc(1 / 12 * (100vw - 264px));
    padding-right: calc(1 / 12 * (100vw - 264px));
}

.View {
    color: black;
    font-weight: 500;
}

.View:hover {
    color: rgba(0, 0, 0, 0.6);
}

.contributions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 610px;
    border-top-color: rgba(0, 0, 0, 0.08);
    border-top-style: solid;
    padding-top: 40px;
}

.SidebarOpen .contributions {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 5px;
    margin-top: 20px;
}

.SidebarOpen .contributions a {
    padding-top: 10px;
    transition: width 0.3s ease-in-out, padding-right 0.3s ease-in-out;
}

.bigtext_fullcontainer {
    margin-top: 60px;
    /* margin-left: 40px; */
    padding: 0 32px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    transition: transform 0.3s ease, max-width 0.3s ease;
}

.bigtext_container {
    background-color: rgba(0, 0, 0, 0.04);
    width: 100%;
    max-width: 1376px;
    margin: 0 auto 250px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 100px 0px;
    transition: all 0.3s ease;
}

.bigtext {
    font-size: 48px;
    font-weight: 500;
    height: auto;
    text-align: center;
    width: 800px;
    margin-bottom: 30px;
    letter-spacing: -0.96px;
    line-height: 55.68px;
}

.bigtext_fullcontainer.SidebarOpen {
    transform: translateX(200px);
    max-width: calc(100% - 250px);
}

.bigtext_fullcontainer.SidebarOpen .bigtext_container {
    max-width: 1206px;
}

.twobuttons {
    display: flex;
    flex-direction: row;
}

.round_button {
    align-items: center;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    background-color: rgba(0, 0, 0, 0.04);
    border-color: rgb(229, 231, 235);
    border-radius: 40px;
    border-style: solid;
    border-image-width: 1;
    column-gap: 4.2px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration-line: none;
    width: 190px;
    display: flex;
    white-space: nowrap;
}

.round_button:hover {
    background-color: #CDCDCD;
    ;
}

.plain_button {
    align-items: center;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    border-color: transparent;
    background: transparent;
    border-image-width: 1;
    column-gap: 4.2px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    letter-spacing: normal;
    width: 160px;
    display: flex;
    white-space: nowrap;
}

.plain_button:hover {
    color: rgba(0, 0, 0, 0.6);
}

.arrow {
    transform: rotate(270deg);
}

.footer_container {
    /* margin-left: 40px; */
    width: 100%;
    height: auto;
    background-color: white;
    text-align: left;
    overflow: hidden;
}

.footer_top {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 24px;
    transition: margin-left 0.3s ease, gap 0.3s ease;
}

.SidebarOpen .footer_top {
    margin-left: 170px;
    /* 사이드바 너비만큼 오른쪽으로 이동 */
    gap: 8px;
    /* gap 값을 줄임 */
}

.footer_column {
    width: 326px;
    height: 757.453px;
    /* margin-left: 24px; */
}

/* .footer_column:first-child {
    margin-left: 0;
} */

.SidebarOpen .footer_bottom {
    margin-left: 170px;
    gap: 10px;
}

.footer_bottom {
    margin-top: 100px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 0px 50px;
    gap: 380px;
    transition: margin-left 0.3s ease, gap 0.3s ease;
}

.SidebarOpen .footer_bottom {
    margin-left: 170px;
    gap: 300px;
}

.footer_sns {
    display: flex;
    flex-direction: row;
    max-width: 1392px;
    height: 40px;
    gap: 25px;
    flex-grow: 0p;
}

.sns_element {
    margin: auto 0;
    cursor: pointer;
}

.sns_element:hover {
    color: black;
}

.sns_element:visited {
    color: black;
}

.footer_date {
    margin-right: 0px;
    max-width: 138.65px;
    font-size: 14px;
    flex-grow: 1;
    text-align: center;
    white-space: nowrap;
    font-weight: 500;
    letter-spacing: normal;
}

.round_text {
    width: 142.672px;
    height: 14px;
    white-space: nowrap;
}

.us {
    width: 87.336px;
    color: rgba(0, 0, 0, 0.6);
    margin-left: 4px;
    font-size: 14px;
}