.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.signupBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    padding: 2rem;
    width: 320px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.input {
    width: 300px;
    padding: 10px 20px;  
    border: 0.8px solid rgb(180, 180, 180);
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s ease-in-out;
    height: 30px;
}

.input:focus {
    border-color: rgb(16, 163, 127);
}

.input::placeholder {
    color: rgb(180, 180, 180);
}
  

.button {
    width: 342px;
    padding: 10px 20px;
    background-color: rgb(16, 163, 127);
    color: white;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
    border: none;
    height: 50px;
    font-weight: 400;
}

.button:hover {
    background-color: rgb(16, 163, 127);
}

.loginText {
    margin-top: 40px;
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 40px;
}

.loginLink {
    cursor: pointer;
    color: rgb(16, 163, 127);
    font-size: 15px;
    font-weight: 300;
    text-decoration: none;
}

.bottom {
    width: 100%;
    text-align: center;
    border-top: 0.8px solid rgb(180, 180, 180);
    font-weight: 300;
    padding-top: 30px;
}
